{% extends "admin/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="../../styles/recipeDetails.css">
{% endblock %}

{% block mainContent %}
  <div class="page__header">
    <h2 class="page__title">Receita: {{ recipe.title }}</h2>
    <div class="page__buttons-container">
      <button class="page__button--edit-recipe button button--filled button--primary">Editar receita</button>
    </div>
  </div>

  {% include '../templates/recipeDetails.njk' %}
{% endblock %}}

{% block scriptsImport %}
  <script type="module" src="../../scripts/recipeDetails.js"></script>
  <script type="module" src="../../scripts/recipeManagement.js"></script>
{% endblock %}