{% extends "admin/layout.njk" %}

{% block mainContent %}
  <form class="form__container" method="POST" action="/admin/recipes?_method=PUT">
    <div class="page__header">
      <h2 class="page__title">Criando receita</h2>
      <div class="page__buttons-container">
        <button type="submit" formaction="/admin/recipes?_method=DELETE" class="page__button--delete-recipe button button--filled button--danger">Deletar</button>
        <button type="submit" class="page__button--update-recipe button button--filled button--primary">Salvar receita</button>
      </div>
    </div>

    <input type="hidden" name="id" value="{{recipe.id}}" class="form__input">

    {% include '../templates/recipeManagementForm.njk' %}
  </form>
{% endblock %}

{% block scriptsImport %}
  <script type="module" src="../../../scripts/recipeManagement.js"></script>
{% endblock %}
