{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="./../styles/home.css">
{% endblock %}

{% block mainContent %}
  <!-- Header -->
  <header id="header--home">
    <div id="header__block--left">
      <h1 class="header__title">As melhores receitas</h1>
      <p class="header__description">
        Aprenda a contruir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
      </p>
    </div>
    <div id="header__block--right">
      <img class="header__image" src="./assets/chef.png" alt="Ilustração de chefe de cozinha"/>
    </div>
  </header>

  <!-- Most popular recipes -->
  <section id="recipes__section--most-popular">
    <h2 class="section__title section__title--primary">Mais acessadas</h2>
    <div class="recipes__list recipes__list--default">
      {% for recipe in recipes %}
        <div id="recipes__list-item--{{ recipe.id }}" class="recipes__list-item">
          <div class="recipes__list-item-image-container">
            <img class="recipes__list-item-image" src="{{ recipe.image }}" alt="Imagem da receita {{ recipe.title }}"/>
          </div>
          <h4 class="recipes__list-item-title">{{ recipe.title }}</h4>
          <span class="recipes__list-item-author">por
            {{ recipe.author }}</span>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}

{% block scriptsImport %}
  <script type="module" src="../../scripts/utils.js"></script>
  <script type="module" src="./../scripts/home.js"></script>
{% endblock %}