{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="./../styles/recipes.css">
{% endblock %}

{% block mainContent %}
      <div class="recipes__list">
        {% for recipe in recipes %}
          <div id="recipes__list-item--{{ recipe.id }}" class="recipes__list-item">
            <div class="recipes__list-item-image-container">
              <img
                class="recipes__list-item-image"
                src="{{ recipe.image }}"
                alt="Imagem da receita {{ recipe.title }}"
              />
            </div>
            <h4 class="recipes__list-item-title">{{ recipe.title }}</h4>
            <span class="recipes__list-item-author">por {{ recipe.author }}</span>
          </div>
        {% endfor %}
      </div>
    </main>

    <!-- Recipe modal -->
    <div class="modal__overlay">
      <div class="modal">
        <div class="modal__image-container">
          <img class="modal__image" src="" alt="Imagem da receita" />
        </div>
        <h4 class="modal__title">-</h4>
        <span class="modal__author">-</span>
        <button class="modal__link modal__link--close">Fechar modal</button>
      </div>
    </div>
{% endblock %}}

{% block scriptsImport %}
  <script type="module" src="./../scripts/recipes.js"></script>
{% endblock%}