<div class="form__field-block">
  <label class="form__label">Imagem da receita</label>
  <input type="url" name="image" placeholder="https://" class="form__input">
</div>

<div class="form__field-block">
  <label class="form__label">Ingredientes</label>
  <input type="text" name="ingredients" class="form__input">
  <button type="button" class="form__button--add-more button button--link">Adicionar novo ingrediente</button>
</div>

<div class="form__field-block">
  <label class="form__label">Modo de preparo</label>
  <input type="text" name="preparation" class="form__input">
  <button type="button" class="form__button--add-more button button--link">Adicionar novo passo</button>
</div>

<div class="form__field-block">
  <label class="form__label">Informações adicionais</label>
  <textarea 
    class="form__input"
    name="information" 
    rows="10" 
  ></textarea>
</div>