<div class="form__field-block">
  <label class="form__label">Nome da receita</label>
  <input type="text" name="title" value="{{recipe.title}}" class="form__input">
</div>

<div class="form__field-block">
  <label class="form__label">Imagem da receita</label>
  <input type="url" name="image" value="{{recipe.image}}" placeholder="https://" class="form__input">
</div>

<div class="form__field-block">
  <label class="form__label">Ingredientes</label>
  <div id="form__multi-input-list--ingredients" class="form__multi-input-list">
      {% if recipe.ingredients %}
        {% for ingredient in recipe.ingredients %}
        <div class="form__multi-input-list-item">
          <input type="text" name="ingredients[]" value="{{ingredient}}" class="form__input form__multi-input">
        </div>
        {% endfor %}
      {% else %}
        <div class="form__multi-input-list-item">
          <input type="text" name="ingredients[]" value="" class="form__input form__multi-input">
        </div>
      {% endif %}
  </div>
  <button type="button" class="form__button--add-more button button--link">Adicionar novo ingrediente</button>
</div>

<div class="form__field-block">
  <label class="form__label">Modo de preparo</label>
  <div id="form__multi-input-list--preparation" class="form__multi-input-list">
    {% if recipe.preparation %}
      {% for step in recipe.preparation %}
      <div class="form__multi-input-list-item">
        <input type="text" name="preparation[]" value="{{step}}" class="form__input form__multi-input">
      </div>
      {% endfor %}
    {% else %}
      <div class="form__multi-input-list-item">
        <input type="text" name="preparation[]" value="" class="form__input form__multi-input">
      </div>
    {% endif %}
  </div>
  <button type="button" class="form__button--add-more button button--link">Adicionar novo passo</button>
</div>

<div class="form__field-block">
  <label class="form__label">Informações adicionais</label>
  <textarea 
    class="form__input"
    name="information" 
    rows="10" 
  >{{recipe.information}}</textarea>
</div>