/* Global variables */
:root {
  --color-black: #000;
  --color-gray-darkest: #111;
  --color-gray-darker: ##444444;
  --color-gray-dark: #777;
  --color-gray-light: #999999;
  --color-gray-lightest: #EEE;
  --color-white: #FFF;
  --color-pink: #FBDFDB;
}

/* Global styles */

* {
  font-family: Roboto;
}

/* Global navbar */
#app__navbar {
  display: flex;
  align-items: center;
  padding-top: 36px;
}

#navbar__brand {
  margin-right: 8vw;
}

#navbar__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar__menu-list-item {
  margin: 0 15px;
}

.navbar__menu-list-item a {
  text-decoration: none;
  color: var(--color-gray-darkest);
  font-size: 16px;
  line-height: 19px;
}

/* Global navbar - Interactions */
.navbar__menu-list-item a:hover {
  opacity: 0.4;
  transition: opacity 240ms;
}

.navbar__menu-list-item.active a {
  font-weight: bold;
}

/* Header */
#header {
  width: 100%;
  background-color: var(--color-pink);
  border-radius: 30px;
  padding: 8vh 0 0 4vw;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16vw;
}

#header__block--left {
  padding-top: 4vh;
}

.header__title {
  color: var(--color-gray-darkest);
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.header__description {
  color: var(--color-black);
  opacity: 0.7;
  font-size: 18px;
  line-height: 28px;
}

#header__block--right {
  text-align: right;
  padding-right: 8vw;
}