/* Custom grid system */
.col__size--1 {
  width: calc(8.333% * 1);
}

.col__size--2 {
  width: calc(8.333% * 2);
}

.col__size--3 {
  width: calc(8.333% * 3);
}

.col__size--4 {
  width: calc(8.333% * 4);
}

.col__size--5 {
  width: calc(8.333% * 5);
}

.col__size--6 {
  width: calc(8.333% * 6);
}

.col__size--7 {
  width: calc(8.333% * 7);
}

.col__size--8 {
  width: calc(8.333% * 8);
}

.col__size--9 {
  width: calc(8.333% * 9);
}

.col__size--10 {
  width: calc(8.333% * 10);
}

.col__size--11 {
  width: calc(8.333% * 11);
}

.col__size--12 {
  width: calc(8.333% * 12);
}

.container--default {
  padding: 0 calc(8.333% * 1);
}
